/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
body {
  background-position: left top;
  background-image: url("/assets/desk.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  color: #1a0d00;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:   40px;
  padding-top: 100px;

}

  h2 {
  color: #804000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:   20px; }

  h3 {
    text-decoration: none;
    color: #FFF;
    text-decoration: none;
    background-color: #248f24;
    padding: 8px 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: auto;
    width: 150px;
  }


  .item_box {
    text-decoration: none;
    display: inline-block;
  }

  li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
  }

  body, p, ol, ul,{
    color: #1a0d00;
    font-family: 'Open Sans', sans-serif;
    font-size:   13px;
    line-height: 18px;
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
  }

  .submit_button {
    width: 50px;
    height: 10px;
  }

  .button_brown a {
    background-color: #305C99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #FFF;
    background-color: #ff8000;
    padding: 8px 40px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
  }

  div.field  {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    background-color: #000;
    padding: 20px 20px;
    line-height: 40px;
    width: 200px;
    margin: auto;
  }

  div.actions {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding-top: 20px;
    line-height: 40px;
  }


  #notice {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }


  #error_explanation  {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    list-style: square;
  }

  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  #error_explanation ul li {
    font-size: 12px;
    list-style: square;
  }
